
*.iml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
.idea/misc.xml

.ipynb_checkpoints/moby-checkpoint.py

.ipynb_checkpoints/README-checkpoint.md

.ipynb_checkpoints/untitled-checkpoint.txt
